<main>
    <section class="currencies">
        <h1>Currency Converter</h1>
        <form id="currencies_first-currency" class="currencies_currency" [formGroup]="firstCurrencyInfo">
            <input type="number" min="0" *ngIf="firstCurrencyInfo.get('currency')?.value && secondCurrencyInfo.get('currency')?.value"
                formControlName="value"
                (input)="changeCurrencyValue($event, firstCurrencyInfo, secondCurrencyInfo)">
            <select formControlName="name"
                (ngModelChange)="changeCurrency($event, firstCurrencyInfo, secondCurrencyInfo)">
                <option value="" disabled selected>Choose Currency</option>
                <option *ngFor="let optCurrency of currencyNames" [ngValue]="optCurrency">
                    {{optCurrency | uppercase}}</option>
            </select>
        </form>
        <form id="currencies_second-currency" class="currencies_currency" [formGroup]="secondCurrencyInfo">
            <input type="number" min="0"
                *ngIf="firstCurrencyInfo.get('currency')?.value && secondCurrencyInfo.get('currency')?.value"
                formControlName="value"
                (input)="changeCurrencyValue($event, secondCurrencyInfo, firstCurrencyInfo)">
            <select formControlName="name"
                (ngModelChange)="changeCurrency($event, secondCurrencyInfo, firstCurrencyInfo)">
                <option value="" disabled selected>Choose Currency</option>
                <option *ngFor="let optCurrency of currencyNames" [ngValue]="optCurrency">
                    {{optCurrency | uppercase}}</option>
            </select>
        </form>
    </section>
</main>