<main>
    <section class="currencies">
        <h1>Currency Converter</h1>
        <div id="currencies_first-currency" class="currencies_currency">
            <input type="number" *ngIf="firstCurrency && secondCurrency" [ngModel]="firstCurrencyValue" (ngModelChange)="changeFirstCurrencyValue($event)">
            <select [ngModel]="firstCurrencyName" (ngModelChange)="changeFirstCurrency($event)">
                <option value="" disabled selected>Choose Currency</option>
                <option *ngFor="let currency of currencyNames" [ngValue]="currency">
                    {{currency | uppercase}}</option>
            </select>
        </div>
        <div id="currencies_second-currency" class="currencies_currency">
            <input type="number" *ngIf="firstCurrency && secondCurrency" [ngModel]="secondCurrencyValue" (ngModelChange)="changeSecondCurrencyValue($event)">
            <select [ngModel]="secondCurrencyName" (ngModelChange)="changeSecondCurrency($event)">
                <option value="" disabled selected>Choose Currency</option>
                <option *ngFor="let currency of currencyNames" [ngValue]="currency">
                    {{currency | uppercase}}</option>
            </select>
        </div>
    </section>
</main>